<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home menu</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/login">Login</a></li>
            </ul>            
        </nav>
        {% if user.is_authenticated %}
        <div class="user-info">
            <p>Logged in as: <strong>{{ user.username }}</strong></p>
            <p>Email: <strong>{{ user.email }}</strong></p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
        </div>
        {% if user_role == 'admin' %}
        <div class="admin-info">
            <p>Admin menu :</p>
            <!--ADD ADMIN FUNCTIONS-->
            <div>
                <a href="/telemetry">View website stats and logs</a>
            </div>
        </div>
        {% endif %}
        {% if user_role == 'manager' or user_role == 'admin' %}
        <div class="manager-info">
            <p>Manager menu :</p>
            <!--ADD MANAGER FUNCTIONS-->
            <div>
                <a href="./manage_matches">Manage Matches</a>
            </div>
        </div>
        {% endif %}
        {% if user_role == none %}
        <div class="error-message">
            <p>You are not authenticated</p>
        </div>
        {% endif %}
        {% if user_role == 'user' %}
        <div class="user-info">
            <p>WUser menu :</p>
        </div>
        {% endif %}
        {% else %}
        <p><a href="/login">Log in</a> to see personalized information.</p>
        {% endif %}
    </header>
    <main>
        <section>
            <h2>About Us</h2>
            <p>This is a brief description about our website.</p>
        </section>
        <section>
            <h2>Latest News</h2>
            <p>Stay tuned for the latest updates.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Our Website. All rights reserved.</p>
    </footer>
</body>
</html>